@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Lato:wght@900&display=swap');
body{
  background-color: black;
}
.App {
  text-align: center;
}

#primes, #factorial, #fibonacci{
  width: 50%;
  margin: 7% 25% ;
}
input[type=number]{
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  font-family: 'Lato', monospace;
  font-size: 2em;
  text-align: center;
}
input[type=number]:focus{
  width: 100%;
}
h1{
  font-family: 'Comfortaa', monospace;
  color: white;
}
#success{
  color: rgb(0, 204, 0);
  transform: scale(1.2);
}
#fail{
  color: red;
  transform: scale(1.2);
}

@media only screen and (max-width: 860px) {
  #primes, #factorial, #fibonacci{
    width: 80%;
    margin: 10% 10% ;
  }
  input[type=number]{
    width: 60%;
  }
}
